<div class="form-horizontal">
    <div class="form-group" style="margin-bottom: 5px">
        <div class="col-md-9" style="margin:10px; margin-right: 0">
            <div class="popup">
                <span class="popuptext" id="myPopup">
                    <b>Alert: </b>Choose criteria here!
                </span>
                <div class="input-group input-group-md">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="width: 120px">
                            Criteria
                            <span class="fa fa-caret-down" style="margin-left: 10px"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-custom">
                            <li *ngFor="let crt of listCriteriaLookup" (click)="changeCriteria(crt)" style="cursor: pointer">
                                <a>{{crt.text}}</a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" name="value" [(ngModel)]="value" class="no-radius form-control" placeholder="{{this.placeholderCriteria}}"
                        (keyup.enter)="searchLookup()">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle-right" style="width: 50px" (click)="searchLookup()">
                            <span class="fa fa-search" style="color:#3375e0"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="overflow-x: scroll">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 20px">
                </th>
                <th *ngFor="let c of columns" (click)="sort(c.field)" style="min-width: 150px">
                    {{c.text}}
                    <span style="float:right">
                        <i class="pull-right glyphicon" [class.glyphicon-sort-by-attributes-alt]="c.field == options.order.column && direction" [class.glyphicon-sort-by-attributes]="c.field == options.order.column && !direction"
                            [class.glyphicon-sort]="c.field != options.order.column" [style.opacity]="options.order.column == c.field ? .7 : .3">
                        </i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of data.rows">
                <td>
                    <a href="javascript:" (click)="select(r)" style="margin-right:5px; color:green">
                        <i class="fa fa-check"> </i>
                    </a>
                </td>
                <td *ngFor="let c of columns">{{r[c.field]}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="col-md-12" style="margin-top: 10px">
    <div class="col-md-6">
        <strong>Total Rows: {{data.rowCount}} </strong>
    </div>
    <div class="col-md-6" style="text-align: right">
        <input type="text" name="pageIndex" [(ngModel)]="options.page" style="border: solid 1px #ccc; padding: 4px; border-radius: 3px; width: 30px"
            (keyup)="changePage()">
        <strong style="margin-right: 15px"> / {{data.pageCount}}</strong>
        <button class="no-rad btn btn-default btn-sm" (click)="prev()">
            <i class="fa fa-angle-left" style="margin-right:8px"></i>Prev
        </button>
        <button class="no-rad btn btn-default btn-sm" (click)="next()">
            Next
            <i class="fa fa-angle-right" style="margin-left:5px"></i>
        </button>
    </div>
</div> -->

<div class="row" style="margin-top: 15px">
    <div class="col-md-4 pull-left" style="padding-left: 20px">
        <strong>Total Rows: {{data.rowCount}} </strong>
    </div>
    <div class="col-md-8" style="text-align: right; padding-right: 15px">
        <strong>Page </strong>
        <input type="text" name="pageIndex" [(ngModel)]="options.page" style="border: solid 1px #ccc; padding: 4px; 
            border-radius: 3px; width: 30px" (keyup)="changePage()">
        <strong style="margin-right: 15px"> / {{data.pageCount}}</strong>
        <button class="no-rad btn btn-default btn-sm" (click)="prev()">
            <i class="fa fa-angle-left" style="margin-right:8px"></i>Prev
        </button>
        <button class="no-rad btn btn-default btn-sm" (click)="next()">
            Next
            <i class="fa fa-angle-right" style="margin-left:5px"></i>
        </button>
    </div>
</div>