<div class="modal-dialog modal-md">
    <form (ngSubmit)="save()" novalidate [formGroup]="personForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="color:white"></span>
                Person Detail
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Name</label>
                            <div class="col-md-5"
                                [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && personForm.get('name').dirty }">
                                <input type="text" id="name_person" class="form-control" formControlName="name"
                                    placeholder="Name (required)">
                                <span class="help-block" *ngIf="nameMessage">
                                    <small>
                                        {{nameMessage}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Email</label>
                            <div class="col-md-5"
                                [ngClass]="{ 'has-error': emailMessage, 'has-success': !emailMessage && personForm.get('email').dirty }">
                                <input type="text" class="form-control" formControlName="email"
                                    placeholder="Email (required)">
                                <span class="help-block" *ngIf="emailMessage">
                                    <small>
                                        {{emailMessage}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Phone</label>
                            <div class="col-md-5"
                                [ngClass]="{ 'has-error': phoneMessage, 'has-success': !phoneMessage && personForm.get('phone').dirty }">
                                <input type="text" class="form-control" formControlName="phone"
                                    placeholder="Phone (required)">
                                <span class="help-block" *ngIf="phoneMessage">
                                    <small>
                                        {{phoneMessage}}
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="person.avatar !== undefined && person.avatar !== null">
                            <label class="control-label col-md-4">Avatar</label>
                            <div class="col-md-5">
                                <img *ngIf="person.avatar !== undefined && person.avatarName === undefined"
                                    class="img-content"
                                    src="http://localhost/printerous/uploads/person_avatar/{{person.avatar}}">
                                <img *ngIf="(person.id === undefined || person.avatarName !== undefined) && stateDetail !== 1 && stateDetail !== undefined"
                                    class="img-content" [src]="person.avatar" />
                                <img *ngIf="stateDetail === 1 && person.avatarName !== undefined" class="img-content"
                                    [src]="person.avatar" />
                            </div>
                        </div>
                        <div class="form-group" *ngIf="state !== 0">
                            <label class="control-label col-md-4">Avatar Upload</label>
                            <div class="col-md-5">
                                <input #uploadimagePerson id="uploadimagePerson" type="file"
                                    (change)="uploadHandler($event)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" style="text-align: right">
                    <button type="submit" *ngIf="state !== 0" [disabled]="personForm.invalid" class="btn btn-success">
                        <span style="float:left;margin-right: 5px">
                            <i class="fa fa-check-circle"></i>
                        </span>
                        Save
                    </button>
                    <button class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                </div>
            </div>
        </div>
    </form>
</div>