<div class="modal fade" id="{{id}}">
    <div class="modal-dialog modal-lg">
        <form (ngSubmit)="save()" novalidate [formGroup]="organizationForm">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span *ngIf="state === 0">
                        Detail Organization
                    </span>
                    <span *ngIf="state === 1">
                        New Organization
                    </span>
                    <span *ngIf="state === -1">
                        Edit Organization
                    </span>
                </div>
                <div class="panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': nameMessage, 'has-success': !nameMessage && organizationForm.get('name').dirty }">
                                    <input type="text" id="name" class="form-control" formControlName="name"
                                        placeholder="Name (required)">
                                    <span class="help-block" *ngIf="nameMessage">
                                        <small>
                                            {{nameMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Email</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': emailMessage, 'has-success': !emailMessage && organizationForm.get('email').dirty }">
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="Email (required)">
                                    <span class="help-block" *ngIf="emailMessage">
                                        <small>
                                            {{emailMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Phone</label>
                                <div class="col-md-5"
                                    [ngClass]="{ 'has-error': phoneMessage, 'has-success': !phoneMessage && organizationForm.get('phone').dirty }">
                                    <input type="text" class="form-control" formControlName="phone"
                                        placeholder="Phone (required)">
                                    <span class="help-block" *ngIf="phoneMessage">
                                        <small>
                                            {{phoneMessage}}
                                        </small>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Website</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" formControlName="website"
                                        placeholder="Website">
                                </div>
                            </div>
                            <div class="form-group"
                                *ngIf="organization.logo !== undefined && organization.logo !== null">
                                <label class="control-label col-md-4">Logo</label>
                                <div class="col-md-5">
                                    <img *ngIf="organization.logo !== undefined && organization.logoName === undefined"
                                        class="img-content"
                                        src="http://localhost/printerous/uploads/organization_logo/{{organization.logo}}">
                                    <img *ngIf="(organization.id === undefined || organization.logoName !== undefined) && state !== 1 && state !== undefined"
                                        class="img-content" [src]="organization.logo" />
                                    <img *ngIf="state === 1 && organization.logoName !== undefined" class="img-content"
                                        [src]="organization.logo" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="state !== 0">
                                <label class="control-label col-md-4">Logo Upload</label>
                                <div class="col-md-5">
                                    <input #uploadimage id="uploadimage" type="file" (change)="uploadHandler($event)">
                                </div>
                            </div>
                            <div class="form-group" style="margin: 40px" *ngIf="state != 1">
                                <div class="col-md-12">
                                    <div style="overflow-x: scroll">
                                        <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width: 80px" *ngIf="state == -1"></th>
                                                    <th style="min-width: 150px">Name</th>
                                                    <th style="min-width: 150px">Email</th>
                                                    <th style="min-width: 150px">Phone</th>
                                                    <th style="min-width: 150px">Avatar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let person of organization.persons">
                                                    <td *ngIf="state == -1">
                                                        <a href="javascript:" *ngIf="state != 0"
                                                            (click)="editPerson(person)"
                                                            style="margin-right:5px; color: green"><i
                                                                class="glyphicon glyphicon-edit"> </i> </a>
                                                        <a href="javascript:" *ngIf="state != 0"
                                                            (click)="deletePerson(person)" style="color:#dd3535"><i
                                                                class="glyphicon glyphicon-trash"> </i>
                                                        </a>
                                                    </td>
                                                    <td> {{person["name"]}}</td>
                                                    <td> {{person["email"]}}</td>
                                                    <td> {{person["phone"]}}</td>
                                                    <td>
                                                        <img class="img-content"
                                                            src="http://localhost/printerous/uploads/person_avatar/{{person.avatar}}">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <div style="text-align: left" *ngIf="state != 0">
                                        <button type="button" class="btn btn-default" (click)="addNewPerson()"><i
                                                class="fa fa-plus" style="margin-right:5px"></i>Add New Person</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer" style="text-align: right">
                        <button type="submit" *ngIf="state !== 0" [disabled]="organizationForm.invalid"
                            class="btn btn-success">
                            <span style="float:left;margin-right: 5px">
                                <i class="fa fa-check-circle"></i>
                            </span>
                            Save
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times-circle" style="margin-right: 5px"></i>Close</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="modal-person">
    <person-detail [organization]="organization" [person]="person" [personForm]="personForm" [stateDetail]="stateDetail"
        [displayData]="displayCallback">
    </person-detail>
</div>