<header class="main-header">
  <a routerLink="dashboard" class="logo">
    <span class="logo-mini">
      <img id="img-mini" src="assets/img/print.png">
    </span>
    <span class="logo-lg">
      <img id="img" src="assets/img/print.png">
    </span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="javascript:" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="color: black">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding:10px">
            <span class="hidden-xs" style="color: black; margin-right: 10px">{{localUser.name}}</span>
            <img src="assets/img/administrator.png" class="img-circle-nav">
            <span class="hidden-xs fa fa-caret-down" style="color: black;margin-left: 3px"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="assets/img/administrator.png" class="img-circle" alt="Admin Image">
              <p>
                {{localUser.name}}
                <small>
                  <i class="fa fa-circle text-success"></i> Online</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="javascript:" (click)="changePassword()" class="btn btn-default">
                  <span class="fa fa-lock black-color" style="margin-right: 5px"></span>
                  <span class="black-color"> Change Password</span>
                </a>
              </div>
              <div class="pull-right">
                <a href="javascript:" (click)="logout()" class="btn btn-default">
                  <span class="fa fa-power-off black-color" style="margin-right: 5px"></span>
                  <span class="black-color">Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <br>
      <li class="treeview" routerLinkActive="active">
        <a routerLink="organization">
          <i class="fa fa-users logo-menu"></i>
          <span>Organization</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
<br>