#img {
    height: auto;
    width: 135px;
}

#img-mini {
    height: auto;
    width: 33px;
}

.img-circle-nav{
    border-radius: 50%;
    width: 30px;
    height: auto;

}

.main-header .navbar{
    margin-bottom: -18px
}

.logo-lg{
    text-align: left;
    padding-left: 5px;
}

.logo-menu{
    margin-right: 8px;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}